*{
    margin: 0;
    padding: 0;
}

:root{
    --headerBgColor: black;
    --headerTextColor: white;
    --mainBgColor:white;
    --mainTextColor: black;
    --footerBgColor: black;
    --footerTextColor: white;
    --visitedLinkColor: rgb(230,12,83);
    --linkColor: white;
    --flagColor: rgb(218,103,66);
    --font-body-family: "Roboto Condensed", sans-serif;
}

html{
    font-size: 100%; /*adatta il font*/
    font-family: var(--font-body-family);
    line-height: 1.5em; /*interlinea*/
    margin: auto; /*centrare gli elementi*/
    background-image: url("images/bg.png");
}

header{
    background-color: var(--headerBgColor);
    color: var(--headerTextColor);
    text-align: center;
    padding: 1em;
}

nav{
    background-color: var(--headerBgColor);
    color: var(--headerTextColor);
}
nav a:link{
    color: var(--linkColor);
}
nav a:visited{
    color: var(--visitedLinkColor);
}


#menu a:link{
    color: var(--linkColor);
}
#menu a:visited{
    color: var(--visitedLinkColor);
}
#menu {
    text-align: center;
}
#menu ul{
    margin: auto;
    padding: 1em;
    max-width: 1024px;
    list-style-type: none;
}
#menu ul li{
    display: inline-block;
    width: 20%;
    margin: 0 0.5em;
}

#breadcrumb{
    padding: 1em;
}
#breadcrumb p{
    max-width: 1024px;
    margin: auto;
}



main{
    background-color: var(--mainBgColor);
    color: var(--mainTextColor);
    margin: auto;
    width: 80%;
}
main.colonne{
    column-count: 3;
    width: 90%;
}

.colonne dl{
    font-size: 90%;
    margin: auto;
}
main.colonne div dt, main.colonne div dd{
    display: inline;
    text-transform: uppercase;
}
dd.citta{
    color: var(--flagColor);
    font-weight: bold;
}
main dl div{
    padding-top:0.3em;
    padding-bottom: 0.3em;
}
main.colonne time span{
    font-weight: bold;
}

#imgIndex{
    width: 40%;
}

footer{
    background-color: var(--footerBgColor);
    color: var(--footerTextColor);
    padding: 1.0em;
    text-align: center;
    margin-top: auto;
}